html{
    height:100%;
    width: 100%;
    background-color: #f2cc8f;
}

section{
    width: 300px;
    height: 350px;
    margin: 10px;
    justify-content: top;
}

header{
    background-color: #b5838d;
}

iframe{
    margin: 50px 0px 0px 300px;
}
td, th{
    width: 100px;
    height: 10px;
    border: 1px black solid;
}

table{
    border: 1px black solid;
    border-collapse: collapse;
}

img{
    height: 100px;
    width: 100px;
}

ul, li{
    align-items: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
    text-align: left;
}

.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}

.sixty{
    width: 60%
}

.twenty{
    width: 20%
}

.center{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

.border{
    border: 1px solid black;
}

.capital{
    text-transform: capitalize;
}

.hidden{
    visibility: hidden;
}

.none{
    display: none;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.even{
    justify-content: space-evenly;
}

.nav-button{
    margin: 10px;
    font-size: 20px;
}
.link{
    color: inherit;
    text-decoration: none;
}

#search-bar{
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    margin: 50px 0px 0px 10px;
    padding: 3px;
    background-color: #81b29a;
}

#drop{
    padding: 3px;
}

#box{
    padding: 3px;
}

#more-details{
    width: 600px;
    height: 125px;
    margin: 5px;
}